{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta name="viewport" content="width=device-width">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title> Cursos | Inglés</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'main/img/css/fontello.css' %}">
	<link rel="stylesheet" href="{% static 'main/ext/bootstrap/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'main/css/keyframes.css' %}">
	<link rel="stylesheet" href="{% static 'main/css/banner.css' %}">
	<link rel="stylesheet" href="{% static 'main/css/style.css' %}">
  <link rel="icon" type="image/png" href="{% static 'main/img/favicon.ico' %}"/>

</head>
<body>
<header>
	<nav class="ham_navbar navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <a class="navbar-brand ham-font-nav" href="index">Ham-School</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a style="color: black;" target="_blank" href="https://www.facebook.com/hamsch00l"><i style="color: black; font-size: 25px" class="icon-facebook-official"></i> Facebook</a>
      </li>
      <li class="nav-item">
        <a style="color: black;" target="_blank" href="https://www.instagram.com/ham.school/"><i style="color: black; font-size: 25px" class="icon-instagram"></i>Instagram</a>
      </li>
      <li class="nav-item">
        <a style="color: black;" target="_blank" href="https://mobile.twitter.com/HamSchool1"><i style="color: black; font-size: 25px" class="icon-twitter"></i>Twitter</a>
      </li>
    </ul>
  </div>
</nav>
</header>

<section>
  <div class="ham_cont_banner ">
    <div class="ham_sombra" >
      <img style="width: 500px; height: 200px;" class="img-fluid" alt="clase online" src="{% static 'main/img/hamschool3.png' %}">
      <table class="table table-hover" style="color:black ; background-color: white; margin-top: 20px; ">
        
        <thead>
            <td>Username</td>
            <td>First name</td>
            <td>Last name</td>
            <td>Email</td>
        </thead>

        {% for p in usuarios %}
        <tbody>
            
                <td>{{p.username}}</td>
                <td>{{p.nombres}}</td>
                <td>{{p.apellidos}}</td>
                <td>{{p.correo}}</td>
        </tbody>
        {% endfor %}
    
    </table>
      </div>
    </div>
  </div>

<footer class="ham_cont_footer">
  <div>
    <p class="text-center">&copy; 2020 <a href="#" class="text-white">Ham-School</a>. All Rights Reserved.<a class="text-white"></a></p>
  </div>
</footer>

<script src="{% static 'main/ext/bootstrap/js/jquery-3.5.1.min.js' %}"></script>
<script src="{% static 'main/ext/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'main/js/index.js' %}"></script>
</body>
</html> 