{% load static %}

{% load crispy_forms_tags %}
<html>
    <head>
        <title>Register</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'login/css/csslr.css' %}">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&display=swap" rel="stylesheet">
    </head>

    <body background="{% static 'login/img/fondo.jpg' %}">
      <div class="menu">
        <div id="fondom">

          <a class="Iniciar" href="login">Iniciar</a>

          <div class="cuadro">
            <img src="{% static 'login/img/hamschool3.png' %}" id="logo" alt="Ham-School" width="250" height="100"/>
          </div>

          <form action="" method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            
            <input type="submit" class="registar" value="Registrar">
          </form>
          
        </div>
      </div>
  </body>
</html>