{% load static %}
<!DOCTYPE html>
  <html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS FONDO BLANCO -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">

   <title>Animals | Animales</title>
   <link rel="preconnect" href="https://fonts.gstatic.com">

  <link rel = "preconnect" href = "https://fonts.gstatic.com">
   <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'cursos/img/css/fontello.css' %}">
  <link rel="stylesheet" href="{% static 'cursos/ext/bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'cursos/css/keyframes.css' %}">
  <link rel="stylesheet" href="{% static 'cursos/css/banner.css' %}">
  <link rel="stylesheet" href="{% static 'cursos/css/style.css' %}">       
  </head>
  <body>
    <div class="p-4 mb-2 bg-danger text-dark"> 

         <center>
            
          <h5> <a href="index" class="p-4 mb-2 bg-danger text-white" size="7"  style="font-size: 25px"> Inicio Ham School</a></h5>
           
          </center> 

        
      </div>
       
    <div class="card" >
        <div class="card-header" class="p-4 mb-2 bg-warning text-dark" >

              <h5> <a href="Kinder"  style="font-size: 25px"> A1 Principiante</a>
            
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-house-door-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg"> 
          <path d="M6.5 10.995V14.5a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .146-.354l6-6a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 .146.354v7a.5.5 0 0 1-.5.5h-4a.5.5 0 0 1-.5-.5V11c0-.25-.25-.5-.5-.5H7c-.25 0-.5.25-.5.495z"/>
          <path fill-rule="evenodd" d="M13 2.5V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>

        </H5>

  </div>
  <div class="card text-center">
 
  <div class="card-body">

     <h5  class=" bg-info text-white" style="font-size: 25px"> Let's know the sound of animals!</H5>

    <p class="card-text" style="font-size: 25px">¡Conozcamos el sonido de  los animales!</p>
   
    <a href="KinderCol" class="btn btn-primary" style="font-size: 25px">NEXT/SIGUIENTE</a>
  </div>
 
</div>
<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src= "{% static 'cursos/img/vaca1.png' %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">COW/VACA</h5>
       <audio src="{% static 'cursos/audio/vaca.mp3' %}" controls="controls" type="audio/mpeg" preload="preload">
            </audio>
    
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="{% static 'cursos/img/perro.png' %}" alt="Card image cap" >
    <div class="card-body">
      <h5 class="card-title">DOG/PERRO</h5>

      <audio src="{% static 'cursos/audio/perro.mp3' %}" controls="controls" type="audio/mpeg" preload="preload">
            </audio>
     
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="{% static 'cursos/img/gato.jpg' %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">CAT/GATO</h5>
       <audio src="{% static 'cursos/audio/gato.mp3' %}" controls="controls" type="audio/mpeg" preload="preload">
            </audio>
    </div>
  </div>
  <div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="{% static 'cursos/img/ov.png' %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">SHEEP/OVEJA</h5>

      <audio src="{% static 'cursos/audio/oveja.mp3' %}" controls="controls" type="audio/mpeg" preload="preload">
            </audio>
    
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="{% static 'cursos/img/grillo1.png' %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">CRICKET/GRILLO</h5>
      <audio src="{% static 'cursos/audio/grillo.mp3' %}" controls="controls" type="audio/mpeg" preload="preload">
            </audio>
     
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="{% static 'cursos/img/rana1.png' %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">FROG/RANA</h5>
   
      <audio src="{% static 'cursos/audio/rana.mp3' %}" controls="controls" type="audio/mpeg" preload="preload">
            </audio>
 
    </div>
    
  </div>





      
  </body>

  
</html>