{% load static %}
<!DOCTYPE html>
  <html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS FONDO BLANCO -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">

   <title>Ham School | Final </title>
   <link rel="preconnect" href="https://fonts.gstatic.com">

  <link rel = "preconnect" href = "https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'cursos/img/css/fontello.css' %}">
  <link rel="stylesheet" href="{% static 'cursos/ext/bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'cursos/css/keyframes.css' %}">
  <link rel="stylesheet" href="{% static 'cursos/css/banner.css' %}">
  <link rel="stylesheet" href="{% static 'cursos/css/style.css' %}">       
  </head>   
      
  <body>
    <div class="p-4 mb-2 bg-danger text-dark">  

         <center>
            
          <h5> <a href="index" class="p-4 mb-2 bg-danger text-white" size="7"  style="font-size: 25px"> Inicio Ham School</a></h5>
           
          </center> 

        
      </div>
        <div class="card" >
        <div class="card-header" class="p-4 mb-2 bg-warning text-dark" >

            <h5> <a  style="font-size: 25px"> A1 Principiante</a>
        

        </H5>

  </div>
  <div class="card text-center">
 
  <div class="card-body">

     <div align="center">
   <a href="Kinder" target="_black">
        <img class= img-fluid src="{% static 'cursos/img/rep.jpg' %}">
  </div>
  </div>
 




      
  </body>

  
</html>