{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta name="viewport" content="width=device-width, initial-scale-1.0">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"

        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    

	<title>Geometric Shapes | figuras geometricas</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel = "preconnect" href = "https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'cursos/img/css/fontello.css' %}">
	<link rel="stylesheet" href="{% static 'cursos/ext/bootstrap/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'cursos/css/keyframes.css' %}">
	<link rel="stylesheet" href="{% static 'cursos/css/banner.css' %}">
	<link rel="stylesheet" href="{% static 'cursos/css/style.css' %}">

  
</head>
<body>
<header>
<div class="p-4 mb-2 bg-danger text-dark"> 

        <!-- iconos con link HAM SCHOOL PRINCIPAL CURSOS -->
          <!-- centrar texto -->
         <center>
            
              <h5> <a href="index" class="p-4 mb-2 bg-danger text-white" size="7" style="font-size: 25px"> Inicio Ham School</a></h5>
           
          </center>  
  </div>
    <div class="card" >
        <div class="card-header" class="p-4 mb-2 bg-warning text-dark" >

            <h5> <a href="Primaria" style="font-size: 25px"> A1. 2 Principiante</a>
               <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-house-door-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg"> 
          <path d="M6.5 10.995V14.5a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .146-.354l6-6a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 .146.354v7a.5.5 0 0 1-.5.5h-4a.5.5 0 0 1-.5-.5V11c0-.25-.25-.5-.5-.5H7c-.25 0-.5.25-.5.495z"/>
          <path fill-rule="evenodd" d="M13 2.5V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>

  </div>
  </div>
</nav>
</header>
<section>
	<div class="ham_cont_banner">
				<div class="card text-center">
           <div class="card-body">
             <h5  class=" bg-warning text-white" style="font-size: 25px"> Let's identify the geometric Shapes</H5>
        <p class="card-text" style="font-size: 25px">¡Identifiquemos las figuras geometricas!</p>
         <a href="Primpc" class="btn btn-secondary" style="font-size: 25px">NEXT/SIGUIENTE</a>
             </p>
            </div>
        
<div class="row row-cols-1 row-cols-md-2">
  <div class="col mb-4">
    <div class="card">
      <center>
        <img src="{% static 'cursos/img/rec.png' %}" class="img-fluid" width="600" >
      </center>
      
      <div class="card-body">
        <center>
             <h5 class="text-danger">RECTANGLE/RECTANGULO</h5>
        <p class="card-text">I AM A RECTANGLE AND I LOOK LIKE A DOOR</p>
        <small>Soy un rectangulo y me veo como una puerta.</small>

        </center>
     
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <center>    <img src="{% static 'cursos/img/tri.jpg' %}" class="img-fluid"  width="585"> </center>
  
      <div class="card-body">
        <center>
          <h5 class="text-success">TRIANGLE/TRIANGULO</h5>
        
        <p class="card-text">I AM A TRIANGLE AND I LOOK LIKE THE PYRAMIDS OF EGYPT</p>
        <small>Soy un triangulo y me veo como las piramides de Egipto.</small>

        </center>
        
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <center>
        <img src="{% static 'cursos/img/cua.png' %}"  class="img-fluid" width="600">
      </center>
      
      <div class="card-body">
        <center>
           <h5 class="text-warning">SQUARE/CUADRADO</h5>
        <p class="card-text">I'M A SQUARE AND I LOOK LIKE SPONGEBOB</p>
        <small>Soy un cuadrado y me veo como bob-esponja.</small>

        </center>
       
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img src="{% static 'cursos/img/cir.jpg' %}" class="img-fluid" width="600">
      <div class="card-body">
        <center>
           <h5 class="text-info">CIRCLE/CIRCULO</h5>
        <p class="card-text">I AM A CIRCLE AND I LOOK LIKE A BALL</p>
        <small>Soy un circulo y me veo como una pelota.</small>

        </center>
       
      </div>
    </div>
  </div>

</div>
   
  
  </div>
 





 
 
</section>



<script src="{% static 'cursos/ext/bootstrap/js/jquery-3.5.1.min.js' %}"></script>
<script src="{% static 'cursos/ext/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'cursos/js/index.js' %}"></script>
</body>
</html>