{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta name="viewport" content="width=device-width, initial-scale-1.0">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"

        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

	<title>
    Ham-School | A1. 2 Principal    
  </title>

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel = "preconnect" href = "https://fonts.gstatic.com">
   <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'cursos/img/css/fontello.css' %}">
	<link rel="stylesheet" href="{% static 'cursos/css/keyframes.css' %}">
	<link rel="stylesheet" href="{% static 'cursos/css/banner.css' %}">
  <link rel="stylesheet" href="{% static 'cursos/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'cursos/ext/bootstrap/css/bootstrap.min.css' %}">


</head>
<body>
<header>
<div class="p-4 mb-2 bg-danger text-dark"> 

        <!-- iconos con link HAM SCHOOL PRINCIPAL CURSOS -->
          <!-- centrar texto -->
         <center>
            
              <h5> <a href="index" class="p-4 mb-2 bg-danger text-white" size="7" style="font-size: 25px"> Inicio Ham School</a></h5>
           
          </center>  
  </div>
    <div class="card" >
        <div class="card-header"  style="font-size: 25px" class="p-4 mb-2 bg-warning text-dark" >

            <h5> <a style="font-size: 25px"> A1. 2 Principiante</a>
  </div>
</nav>
</header>
<section>
	<div class="ham_cont_banner">

				<div class="card text-center">
           <div class="card-body">
            
             <p style="font-size: 25px">
                        <span class=text-danger>WELCOME! / ¡BIENVENIDO!</span>
                    </p>


            <h5 class="text-info" style="font-size: 25px">In this section you will learn different things for your knowledge</h5>
                      <h5 class="text-warning" style="font-size: 25px">We hope you have fun learning with us!</h5>
              <p class="card-text">En esta sección aprenderás diferentes cosas para auxiliar tu conocimiento.</p>
                  <p class="card-text">¡Esperamos te diviertas aprendiendo con nosotros!.</p>
             </p>
            </div>
            <div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Alphabet/Alfabeto</h5>
        <h5  class="  text-dark"> Let's learn the alphabet  whit pronunciation!</H5>
        <p class="card-text">¡Aprendamos el alfabeto con pronunciación!</p>
        <a href="PrimariaAbc" class="btn btn-success">START/COMENZAR</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Numbers/Números</h5>
        <h5  class="text-dark"> Let's learn the numbers!</H5>
          <p class="card-text">¡Aprendamos los números!.</p>
       
        <a href="Primarianum" class="btn btn-secondary">START/COMENZAR</a>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Colors/Colores</h5>
        <h5 class="card-title">Let's identify the colors!</h5>
          <p class="card-text">¡Identifiquemos los colores!</p>
        <a href="Primcol" class="btn btn-dark">START/COMENZAR</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Geometric Shapes/Figuras geometricas</h5>
        <h5 class="card-title">Let's identify the geometric figures!</h5>
          <p class="card-text">¡Identifiquemos las figuras geometricas!</p>
        <a href="Primgeo" class="btn btn-info">START/COMENZAR</a>
      </div>
    </div>
  </div>
</div>



<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Body parts/Partes del cuerpo</h5>
        <h5 class="card-title">Let's identify the body parts!</h5>
          <p class="card-text">¡Identifiquemos las partes del cuerpo!</p>
        <a href="PrimPC" class="btn btn-warning">START/COMENZAR</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Pronouns/Pronombres</h5>
        <h5  class="  text-dark"> Let's learn the pronouns!</H5>
        <p class="card-text">¡Aprendamos los pronombres!</p>
        <a href="Primpron" class="btn btn-danger">START/COMENZAR</a>
      </div>
    </div>
  </div>
</div>


 
 
</section>



<script src="{% static 'cursos/ext/bootstrap/js/jquery-3.5.1.min.js' %}"></script>
<script src="{% static 'cursos/ext/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'cursos/js/index.js' %}"></script>
</body>
</html>