{% load static %}
<!DOCTYPE html>
  <html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS FONDO BLANCO -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">

   <title>Alphabet | Alfabeto</title>
   <link rel="preconnect" href="https://fonts.gstatic.com">

  <link rel = "preconnect" href = "https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'cursos/img/css/fontello.css' %}">
  <link rel="stylesheet" href="{% static 'cursos/ext/bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'cursos/css/keyframes.css' %}">
  <link rel="stylesheet" href="{% static 'cursos/css/banner.css' %}">
  <link rel="stylesheet" href="{% static 'cursos/css/style.css' %}">
     
      
  </head>
   
     
  <style>

    body{  
     background: -webkit-linear-gradient(to right, #eb7405, #ff4800);
    background: linear-gradient(to right, #ff9900, #ff0000);
    }    
    /* Para un comportamiento responsive */
    .carousel-inner img {
    width: 100%;
    height: 100%;
    }
  </style> 
      
      
  <body>
    <div class="p-4 mb-2 bg-danger text-dark"> 


      

      <!-- iconos con link HAM SCHOOL PRINCIPAL CURSOS -->
          <!-- centrar texto -->
         <center>
            
              <h5> <a href="index" class="p-4 mb-2 bg-danger text-white" size="7" style="font-size: 25px"> Inicio Ham School</a></h5>
           
          </center> 

      </div>
       
    <div class="card" >
        <div class="card-header" class="p-4 mb-2 bg-danger text-dark" >

           
              <h5> <a href="Primaria"  style="font-size: 25px"> A1. 2 Principiante</a>

            
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-house-door-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg"> 
          <path d="M6.5 10.995V14.5a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .146-.354l6-6a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 .146.354v7a.5.5 0 0 1-.5.5h-4a.5.5 0 0 1-.5-.5V11c0-.25-.25-.5-.5-.5H7c-.25 0-.5.25-.5.495z"/>
          <path fill-rule="evenodd" d="M13 2.5V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
  </div>
  <div class="card text-center">
 
  <div class="card-body">

     <h5  class=" bg-warning text-white" style="font-size: 25px"> Let's learn the alphabet!</H5>
    <p class="card-text">¡Aprendamos el alfabeto!</p>
     <a href="Primarianum" class="btn btn-primary" style="font-size: 25px">NEXT/SIGUIENTE</a>
  </div>
  <body>
  
<body>
    <div class="container">
      <div clas="row">

         <div id="carousel1" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">

            <div class="carousel-item active">
              <a href="https://www.youtube.com/watch?v=4elOYLGd-rc" target="_black">
               <img src="{% static 'cursos/img/alprim.png' %}" width="" height="">
               </a>
            </div>

            <div class="carousel-item">
                <a href="https://www.youtube.com/watch?v=4elOYLGd-rc" target="_black">
               <img src="{% static 'cursos/img/mxprim.png' %}" alt="" width="620" height="450">  
             </a>
            </div>

            <div class="carousel-item">
                <a href="https://www.youtube.com/watch?v=4elOYLGd-rc" target="_black">
               <img src="{% static 'cursos/img/yzprim.png' %}" alt="" width="620" height="450">
             </a>
            </div>

            </div>
            
        

      </div>
    </div>
    
       
            <!--Controles NEXT y PREV-->
            <a class="carousel-control-prev" href="#carousel1" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel1" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
            <!--Controles de indicadores-->
            <ol class="carousel-indicators">
                <li data-target="#carousel1" data-slide-to="0" class="active"></li>
                <li data-target="#carousel1" data-slide-to="1"></li>
                <li data-target="#carousel1" data-slide-to="2"></li>
                <li data-target="#carousel1" data-slide-to="3"></li>
            </ol>
            
        </div>
      
      
      
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    <script>
        $('.carousel').carousel();
    </script>  
      
  </body>
      
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    <script>
        $('.carousel').carousel();
    </script>  
      
  </body>

  
</html>