{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta name="viewport" content="width=device-width, initial-scale-1.0">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"

        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <title>Ham-School | A1. 3 Principal</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel = "preconnect" href = "https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'cursos/img/css/fontello.css' %}">
  <link rel="stylesheet" href="{% static 'cursos/ext/bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'cursos/css/keyframes.css' %}">
  <link rel="stylesheet" href="{% static 'cursos/css/banner.css' %}">
  <link rel="stylesheet" href="{% static 'cursos/css/style.css' %}">

</head>
<body>
<header>
<div class="p-4 mb-2 bg-danger text-dark"> 

        <!-- iconos con link HAM SCHOOL PRINCIPAL CURSOS -->
          <!-- centrar texto -->
         <center>
            
              <h5> <a href="index" class="p-4 mb-2 bg-danger text-white" size="7" size="7" style="font-size: 25px"> Inicio Ham School</a></h5>
           
          </center>  
  </div>
    <div class="card" >
        <div class="card-header" class="p-4 mb-2 bg-warning text-dark" >

            <h5> <a size="7" style="font-size: 25px"> A1. 3 Principiante</a>
  </div>
</nav>
</header>
<section>
  <div class="ham_cont_banner">
        <div class="card text-center">
           <div class="card-body">
             <h5 class="text-danger" size="7" style="font-size: 25px">WELCOME! / ¡BIENVENIDO!</h5>
            <h5 class="text-info" size="7" style="font-size: 25px">In this section you will learn different things for your knowledge</h5>
                      <h5 class="text-warning" size="7" style="font-size: 25px">We hope you have fun learning with us!</h5>
              <p class="card-text" size="7" style="font-size: 25px">En esta sección aprenderás diferentes cosas para auxiliar tu conocimiento.</p>
                  <p class="card-text" size="7" style="font-size: 25px">¡Esperamos te diviertas aprendiendo con nosotros!.</p>
             </p>
            </div>
            <div class="row mx-md-n5">
  
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <H5>The alphabet/El alfabeto</H5>
        <div class="col px-md-5">  <a href="Secabc"> <img src="{% static 'cursos/img/abcc.png' %}" width="200"> </a> 
            
        
      </div>
    </div>
  </div>
</div>
 <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <H5>Past and present tense/Tiempo pasado y presente</H5>
        <div class="col px-md-5">  <a href="SecTiempo"> <img src="{% static 'cursos/img/PREPA.png' %}" width="200"> </a> 
            
        
      </div>
    </div>
  </div>
</div>
<div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <H5>Verb to be/Verbo To be</H5>
        <div class="col px-md-5">  <a href="SecToBe"> <img src="{% static 'cursos/img/tobb.png' %}" width="200"> </a> 
            
        
      </div>
    </div>
  </div>
</div>
 <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <H5>Numbers/Numeros</H5>
        <div class="col px-md-5">  <a href="SecNum"> <img src="{% static 'cursos/img/numsec.png' %}" width="200"> </a> 
            
        
      </div>
    </div>
  </div>
</div>
<div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <H5>The family/La familia</H5>
        <div class="col px-md-5">  <a href="SecFam"> <img src="{% static 'cursos/img/famsec.png' %}" width="200"> </a> 
            
        
      </div>
    </div>
  </div>
</div>
 <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <H5>Body parts/Partes del cuerpo</H5>
        <div class="col px-md-5">  <a href="SecPC"> <img src="{% static 'cursos/img/hums.png' %}" width="200"> </a> 
            
        
      </div>
    </div>
  </div>
</div>




 
 
</section>



<script src="ext/bootstrap/js/jquery-3.5.1.min.js"></script>
<script src="ext/bootstrap/js/bootstrap.min.js"></script>
<script src="js/index.js"></script>
</body>
</html>