{% load static %}
<!DOCTYPE html>
  <html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS FONDO BLANCO -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">

   <title>Pasado | Presente</title>
   <link rel="preconnect" href="https://fonts.gstatic.com">

  <link rel = "preconnect" href = "https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'cursos/img/css/fontello.css' %}">
  <link rel="stylesheet" href="{% static 'cursos/ext/bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'cursos/css/keyframes.css' %}">
  <link rel="stylesheet" href="{% static 'cursos/css/banner.css' %}">
  <link rel="stylesheet" href="{% static 'cursos/css/style.css' %}">       
  </head>
     <style>
    body{  
     background: -webkit-linear-gradient(to right, #eb7405, #ff4800);
    background: linear-gradient(to right, #ff9900, #ff0000);
    }    
    .carousel-inner img {
    width: 100%;
    height: 100%;
    }
  </style> 
      
  <body>
   <div class="p-4 mb-2 bg-danger text-dark"> 

         <center>
            
              <h5> <a href="index" class="p-4 mb-2 bg-danger text-white" size="7"size="7" style="font-size: 25px"> Inicio Ham School</a></h5>
           
          </center> 

        
      </div>
       
    <div class="card" >
        <div class="card-header" class="p-4 mb-2 bg-warning text-dark" >

              <h5> <a href="Secu" size="7" style="font-size: 25px"> A1. 3 Principiante</a>
            
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-house-door-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg"> 
          <path d="M6.5 10.995V14.5a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .146-.354l6-6a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 .146.354v7a.5.5 0 0 1-.5.5h-4a.5.5 0 0 1-.5-.5V11c0-.25-.25-.5-.5-.5H7c-.25 0-.5.25-.5.495z"/>
          <path fill-rule="evenodd" d="M13 2.5V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>

        </H5>

  </div>
  <div class="card text-center">
 
  <div class="card-body">

       <h5  class=" bg-info text-white" size="7" style="font-size: 25px"> Let's know the structure of the past and present!</H5>
    <p class="card-text" size="7" style="font-size: 25px">¡Conozcamos la estructura del tiempo pasado y presente!.</p>
   
    <a href="SecToBe" class="btn btn-primary" size="7" style="font-size: 25px">NEXT/SIGUIENTE</a>
  </div>
 
</div>
<center>
  <div class="alert alert-light" role="alert">
    El tiempo <a href="https://aprendamosingles.net/2016/12/23/16-verbos-regulares-muy-importantes-important-regular-verbs/" class="alert-link">PASADO SIMPLE</a> lo utilizamos para referirnos a momentos que ya pasaron y se estructura de la siguiente manera.
  </div>

  <div class="alert alert-warning" role="alert">
   [Sujeto] + [Verbo en pasado] + complemento 
   <H5>I   +     played +   with the red ball </H5>
   Yo   +    jugué  +   con la pelota roja ayer
  </div>
  <div class="alert alert-warning" role="alert">
   [Sujeto] + [did not] + [Verbo base] + complemento 
   <H5>I   +    did not  +   play + with the red ball yesterday </H5>
   Yo  +    no  + jugué +  con la pelota roja ayer
  </div>
  <div class="alert alert-warning" role="alert">
   [Did] + [sujeto]+ [verbo base] + complemento ?
   <H5>Did  +  she + play +  with the red ball yesterday ? </H5>
   ella  +   jugo +  con la pelota roja ayer?
   <H5>Yes +  [sujeto] + [did] </H5>
   Si, ella jugo con la pelota roja ayer
   <H5>No +  [sujeto] + [didn´t] </H5>
   No, ella no jugo con la pelota roja ayer
   

  </div>










  <div class="alert alert-light" role="alert">
    El tiempo <a href="https://madridingles.net/como-usar-do-does/" class="alert-link">PRESENTE SIMPLE</a> lo utilizamos para referirnos a las acciones que suceden en el momento y se estructura de la siguiente manera.
  </div>

  <div class="alert alert-danger" role="alert">
   [Sujeto] + [verbo base] + complemento 
   <H5>I   +    talk      + to  my sister every night  </H5>
     Yo   +    platico   +  con mi hermana todas las noches
     <h5><small> RECUERDA esta estructura es para WE, I, THEY, YOU</small></h5>

     
  </div>
  <div class="alert alert-danger" role="alert">
   [Sujeto] + [do not] [verbo base] + complemento 
   <H5>I   +  [do not] + talk   + to  my sister every night  </H5>
     Yo   +   no  platico   +  con mi hermana todas las noches
     <h5><small> RECUERDA esta estructura es para WE, I, THEY, YOU</small></h5>
  </div>

  <div class="alert alert-danger" role="alert">
   [DO] + [sujeto] [verbo base] + complemento ? 
   <H5>Do   +  [you] + talk   + to your sister every night?  </H5>
     Yes + sujeto + verbo base  / No + sujeto +  [do not] + verbo base
     <H5>Yes +  I + talk   + to my sister every night  </H5>
     <H5>No + I + do not + talk   + to my sister every night  </H5>
     
     <h5><small> RECUERDA esta estructura es para WE, I, THEY, YOU</small></h5>
  </div>







  <div class="alert alert-info" role="alert">
     [Sujeto] + [verbo (ies/s/es)] + complemento 
   <H5>She  +    studies     +  every day  </H5>
     Ella   +    estudia   +  todo el dia
      <H5>He  +    works    +  every Sunday  </H5>
     El  +    trabaja  +  todo los domingos
      <H5>He  +    fixes    +  his car  </H5>
     El  +    arregla + su carro
     <h5><small> RECUERDA esta estructura es para she, he, it</small></h5>

  </div>
  <div class="alert alert-info" role="alert">
     [Sujeto] + [does not] + [verbo base] + complemento 
   <H5>She  +  [does not ] + study   +  every day  </H5>
     Ella   +   no estudia   +  todo el dia
     <h5><small> RECUERDA esta estructura es para she, he, it</small></h5>

  </div>
  <div class="alert alert-danger" role="alert">
   [DOES] + [sujeto] [verbo (s,es,ies)] + complemento ? 
   <H5>Does   +  [she] + studies   +  every day?  </H5>
     Yes + sujeto + verbo (s, es, ies) / No + sujeto +  [does not] + verbo (s, es, ies)
     <H5>Yes +  she + studies + every day  </H5>
     <H5>No + she + does not + study   + every day  </H5>
     
     <h5><small> RECUERDA esta estructura es para she, he, it </small></h5>
  </div>



   
</center>   
  </body>

  
</html>