{% load static %}
<!DOCTYPE html>
  <html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS FONDO BLANCO -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">

   <title>Verbo TO BE</title>
   <link rel="preconnect" href="https://fonts.gstatic.com">

  <link rel = "preconnect" href = "https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'cursos/img/css/fontello.css' %}">
  <link rel="stylesheet" href="{% static 'cursos/ext/bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'cursos/css/keyframes.css' %}">
  <link rel="stylesheet" href="{% static 'cursos/css/banner.css' %}">
  <link rel="stylesheet" href="{% static 'cursos/css/style.css' %}">       
  </head>
     <style>
    body{  
     background: -webkit-linear-gradient(to right, #eb7405, #ff4800);
    background: linear-gradient(to right, #ff9900, #ff0000);
    }    
    .carousel-inner img {
    width: 100%;
    height: 100%;
    }
  </style> 
      
  <body>
   <div class="p-4 mb-2 bg-danger text-dark"> 

         <center>
            
              <h5> <a href="index" class="p-4 mb-2 bg-danger text-white" size="7" size="7" style="font-size: 25px"> Inicio Ham School</a></h5>
           
          </center> 

        
      </div>
       
    <div class="card" >
        <div class="card-header" class="p-4 mb-2 bg-warning text-dark" >

              <h5> <a href="Secu"size="7" style="font-size: 25px" > A1. 3 Principiante</a>
            
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-house-door-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg"> 
          <path d="M6.5 10.995V14.5a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .146-.354l6-6a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 .146.354v7a.5.5 0 0 1-.5.5h-4a.5.5 0 0 1-.5-.5V11c0-.25-.25-.5-.5-.5H7c-.25 0-.5.25-.5.495z"/>
          <path fill-rule="evenodd" d="M13 2.5V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>

        </H5>

  </div>
  <div class="card text-center">
 
  <div class="card-body">

      <h5  class=" bg-success text-white" size="7" style="font-size: 25px"> Let's learn verb to be!</H5>
    <p class="card-text" size="7" style="font-size: 25px">¡Aprendamos el verbo to be!</p>
   
    <a href="SecNum" class="btn btn-primary" size="7" style="font-size: 25px">NEXT/SIGUIENTE</a>
  </div>
 
</div>

  <div align="center">
    <a href="https://www.youtube.com/watch?v=6ToyS-u_YLw&feature=emb_title" target="_black">

    <img src="{% static 'cursos/img/tobe.png' %}" class="img-fluid" width="800">
  </div>
 

  </div>

  </body>

  
</html>